<!--
<div class="text-center" *ngIf="isLogged;else loggedOut">
  <h2>Ya has iniciado sesion</h2>
</div>


<ng-template #loggedOut>
  -->
  <div class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html"><b>ERP PERU</b></a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Logeate para iniciar sesión</p>

          <form method="post" [formGroup] = "loginForm" (ngSubmit)="onLogin()">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Usuario" id="usuario" formControlName="usuario">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user" style="color: rgb(48, 37, 37);"></span>
                </div>
              </div>
            </div>
      <!--
            <div class="input-group mb-3">
              <input type="email" class="form-control"  placeholder="Correo Electronico" id="email" formControlName="email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope" style="color: rgb(48, 37, 37);"></span>
                </div>
              </div>
            </div>
            -->

            <div class="input-group mb-3">
              <input type="password" class="form-control"  placeholder="Contraseña" id="password" formControlName="password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock" style="color: rgb(48, 37, 37);"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember">
                  <label for="remember" class="ml-2">
                    Recuerdame
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button [disabled]="loginForm.invalid" type="submit" class="btn btn-outline-secondary btn-block">Ingresar</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <div class="social-auth-links text-center mb-3 " id="my-signin2">

          </div>
          <!-- /.social-auth-links -->

          <p class="mb-1">
            <a href="forgot-password.html" class="link-pass"> Olvidé mi contraseña</a>
          </p>
          <p class="mb-0">
            <a routerLink="/register" class="text-center link-reg">¿No tienes una cuenta?</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
  </div>

<!--
</ng-template>
-->
