<div class="card">
  <div class="card-header">
      <h3 class="card-title" style="color:rgb(1, 112, 185)">
          <i class="far fa-list-alt"></i>
            &nbsp;
            Relación de Auxiliares
            &nbsp;
      </h3>
      <div class="row">
        <div class="col-md-7">

        </div>
        <div class="col-md-5">
          <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" (click)="onResetFormEntidad()"
            data-target="#viewModalentidad">
              <i  class="far fa-plus-square"></i>&nbsp;&nbsp;Nuevo
          </button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" (click)="onExportExcel()"
          >
            <i class="fa fa-file-excel"></i>&nbsp;&nbsp;Exportar Excel
          </button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" (click)="onExportPdf()"
          >
            <i class="fa fa-file-pdf"></i>&nbsp;&nbsp;Exportar PDF
          </button>

        </div>

      </div>



    <!--
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  -->
  </div>

  <div class="card-body">
      <!--
    Cuerpo - Start creating your amazing application!
 -->

    <div class="col-sm-12">
      <form (ngSubmit)="onSearchEntidad()">

          <div class="form-group row">
              <div class="col-md-9">
                  <div class="input-group">
                      <select class="form-control form-control-sm col-md-3" name="selectedBusqueda"  [(ngModel)]="selectedBusqueda">
                          <option value="Nombre">Nombre</option>
                      </select>
                      <input type="text" name="searchInput" [(ngModel)]="searchInput"
                          class="form-control form-control-sm" placeholder ="  Seleccione tipo de busqueda e ingrese el Valor" autocomplete="off">


                      <button type="submit" class="btn btn-sm btn-info">
                          <i class="fa fa-search"></i> Filtrar
                      </button>

                  </div>
              </div>
          </div>

      </form>
    </div>

    <div class="table-responsive">

        <table mat-table [dataSource]="entidadesData" class="mat-elevation-z8">

            <ng-container matColumnDef="Opciones">
                <th mat-header-cell *matHeaderCellDef> Opciones </th>

                <td mat-cell *matCellDef="let entidad">
                    <button type="button" name="editar" (click)="onUpdateEntidad(entidad)"
                        title="Editar auxiliar" data-toggle="modal" data-target="#viewModalentidad"
                        class="btn button-edit btn-sm">
                        <i class="far fa-edit"></i>
                    </button>
                    &nbsp;
                    <button type="button" name="eliminar" (click)="onDeleteEntidad(entidad)"
                        title="Eliminar auxiliar" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="Nombre Legal">
                <th mat-header-cell *matHeaderCellDef> Nom. Legal</th>
                <td mat-cell *matCellDef="let entidad"> {{entidad.nombreLegal}} </td>
            </ng-container>

            <ng-container matColumnDef="Nombre Comercial">
              <th mat-header-cell *matHeaderCellDef> Nom. Comercial </th>
              <td mat-cell *matCellDef="let entidad"> {{entidad.nombreComercial}} </td>
            </ng-container>

            <ng-container matColumnDef="Num. Doc.">
              <th mat-header-cell *matHeaderCellDef> Num. Doc. </th>
              <td mat-cell *matCellDef="let entidad"> {{entidad.numeroDocumento}} </td>
            </ng-container>


            <ng-container matColumnDef="WebPage">
              <th mat-header-cell *matHeaderCellDef> WebPage</th>
              <td mat-cell *matCellDef="let entidad"> {{entidad.webpage}} </td>
            </ng-container>

            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef> Email</th>
              <td mat-cell *matCellDef="let entidad"> {{entidad.email}} </td>
            </ng-container>

            <ng-container matColumnDef="Telefono1">
              <th mat-header-cell *matHeaderCellDef> Telefono 2</th>
              <td mat-cell *matCellDef="let entidad"> {{entidad.telefono1}} </td>
            </ng-container>

            <ng-container matColumnDef="Estado">
              <th mat-header-cell *matHeaderCellDef> Estado</th>
              <td mat-cell *matCellDef="let entidad">
                <div *ngIf="entidad.estado == 1">Activo</div>
                <div *ngIf="entidad.estado == 0">Baja</div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="entidadesCol"></tr>
            <tr mat-row *matRowDef="let row; columns: entidadesCol;"></tr>


        </table>

        <mat-paginator #paginatorentidades [pageSizeOptions]="[6,10]" showFirstLastButtons></mat-paginator>

    </div>


  </div>
  <!-- /.card-body -->
  <!-- <div class="card-footer">
    Footer
  </div>
  -->
  <!-- /.card-footer-->
</div>



<!-- Modal -->
<div class="modal fade" id="viewModalentidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog modal-lg" style="max-width: 80%!important;" role="document">
        <div class="modal-content">

          <div class="modal-header">

              <div class="col-md-6">
                <h3 class="modal-title" id="exampleModalLongTitle" style="color:rgb(1, 112, 185)" *ngIf="accionNuevo">Creando Auxiliar</h3>
                <h3 class="modal-title" id="exampleModalLongTitle"  style="color:rgb(1, 112, 185)" *ngIf="!accionNuevo">Editando Auxiliar</h3>

              </div>

              <div class="col-md-2 text-right">
                <button type="submit" class="btn btn-outline-success btn-sm" #closeBtn (click)="onSubmit()">Guardar</button>
              </div>
              <div class="col-md-2 text-right">
                <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Cerrar</button>
              </div>

              <button type="button" #closeEntidad class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>

          <div class="modal-body">
              <div class="container-fluid">

                <mat-tab-group animationDuration="0ms" dynamicHeight="false">
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                      Auxiliar
                    </ng-template>

                    <div class="row">
                      <div class="col-md-12">
                        <form [formGroup]="formEntidad" (ngSubmit)="onSubmit()" class="form-horizontal">
                          <div class="form-group row mb-4">
                          </div>

                          <div class="form-group row mb-1">

                              <div class="col-sm-3">
                                  <label for="input"> 1er. Nombre</label>
                                  <input type="text" class="form-control form-control-sm" formControlName="nombrePrimero" name="nombrePrimero">
                              </div>

                              <div class="col-sm-3">
                                <label for="input"> 2do. Nombre</label>
                                <input type="text" class="form-control form-control-sm" formControlName="nombreSegundo" name="nombreSegundo">
                              </div>

                              <div class="col-sm-3">
                                <label for="input"> Ape. Paterno</label>
                                <input type="text" class="form-control form-control-sm" formControlName="apellidoPaterno" name="apellidoPaterno">
                              </div>
                              <div class="col-sm-3">
                                <label for="input"> Ape. Materno</label>
                                <input type="text" class="form-control form-control-sm" formControlName="apellidoMaterno" name="apellidoMaterno">
                              </div>
                          </div>

                          <div class="form-group row mb-1">
                            <div class="col-sm-6">
                                <label for="input"> Nom. Legal</label>
                                <input type="text" class="form-control form-control-sm" formControlName="nombreLegal" name="nombreLegal">
                            </div>

                            <div class="col-sm-6">
                              <label for="input"> Nom. Comercial</label>
                              <input type="text" class="form-control form-control-sm" formControlName="nombreComercial" name="nombreComercial">
                            </div>
                          </div>

                          <div class="form-group row mb-1">

                            <div class="col-sm-3">
                              <label for="input"> Tip. Doc.</label>

                              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                data-select2-id="1" tabindex="-1" aria-hidden="true" id="tipoDocumento" formControlName="tipoDocumento"
                                [ngClass]="{ 'is-invalid': submitted && f.tipoDocumento.errors }">

                                <option value="" disabled>Seleccionar</option>
                                <option *ngFor="let documento of listaTipoDoc" [value]="documento.codigo">
                                  {{documento.nombre}}
                                </option>

                              </select>
                            </div>

                            <div class="col-sm-3">
                              <label for="input"> Num. Doc</label>
                              <input type="text" class="form-control form-control-sm" formControlName="numeroDocumento" name="numeroDocumento">
                            </div>

                            <div class="col-sm-3">
                              <label for="input"> Telefono 1</label>
                              <input type="text" class="form-control form-control-sm" formControlName="telefono1" name="telefono1">
                            </div>
                            <div class="col-sm-3">
                              <label for="input"> Telefono 2</label>
                              <input type="text" class="form-control form-control-sm" formControlName="telefono2" name="telefono2">
                            </div>
                          </div>

                          <div class="form-group row mb-1">
                            <div class="col-sm-6">
                                <label for="input"> Web Page</label>
                                <input type="text" class="form-control form-control-sm" formControlName="webpage" name="webpage">
                            </div>

                            <div class="col-sm-6">
                              <label for="input"> Email</label>
                              <input type="text" class="form-control form-control-sm" formControlName="email" name="email">
                            </div>
                          </div>


                          <div class="form-group row mb-1">

                            <div class="col-sm-3">
                              <label for="input"> Pais</label>

                              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                data-select2-id="1" tabindex="-1" aria-hidden="true" id="idPais" formControlName="idPais"
                                [ngClass]="{ 'is-invalid': submitted && f.idPais.errors }">

                                <option value="" disabled>Seleccionar</option>
                                <option *ngFor="let pais of listaPaises" [value]="pais.id">
                                  {{pais.nombre}}
                                </option>

                              </select>
                            </div>

                            <div class="col-sm-3">
                              <label for="input"> Estado</label>

                              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                data-select2-id="1" tabindex="-1" aria-hidden="true" id="estado" formControlName="estado"
                                [ngClass]="{ 'is-invalid': submitted && f.estado.errors }">

                                <option value="" disabled>Seleccionar</option>
                                <option *ngFor="let estado of listaEstados" [value]="estado.id">
                                  {{estado.nombre}}
                                </option>

                              </select>
                            </div>

                          </div>

                          <div class="form-group row mb-2">
                          </div>
<!--
                          <div class="form-group row mb-2">
                            <div class="col-sm-10 text-right">
                              <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
                            </div>

                            <div class="col-sm-2 text-right">
                                <button type="submit" class="btn btn-outline-success" #closeBtn>Guardar</button>
                            </div>
                          </div>
                        -->
                          <div class="form-group row mb-4">
                          </div>
                        </form>

                      </div>
                    </div>

                  </mat-tab>

                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                      Tipo
                    </ng-template>

                    <div class="form-group row mb-2">
                    </div>
                    <div class="table-responsive">
                      <div class="mat-elevation-z8">
                        <form [formGroup]="VOFormTipo" autocomplete="off">
                          <ng-container formArrayName="VORows">

                                <table #table mat-table [dataSource]="entidadesTiposData" class="mat-elevation-z8" class="TablaDet">

                                  <!-- Tipo Column -->
                                  <ng-container matColumnDef="Tipo">
                                    <th mat-header-cell *matHeaderCellDef class="CabeceraDet"> Tipo </th>

                                    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">

                                      <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                        data-select2-id="1" tabindex="-1" aria-hidden="true" id="codigo" formControlName="codigo"
                                        [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }">

                                        <option value="" disabled>Seleccionar</option>
                                        <option *ngFor="let tipo of listaTipoEntidad" [value]="tipo.codigo">
                                          {{tipo.nombre}}
                                        </option>

                                      </select>
                                    </td>
                                  </ng-container>


                                  <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="CabeceraDet"> Action </th>
                                    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                                      <button mat-icon-button class="material-icons app-toolbar-menu delete-button"
                                                          matTooltip="Delete" color="warn" (click)="DeleteVOTipo(i)">
                                                          <mat-icon>delete</mat-icon>
                                                      </button>

                                    </td>
                                  </ng-container>

                                  <tr mat-header-row *matHeaderRowDef="entidadesTiposColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: entidadesTiposColumns;" ></tr>

                                </table>

                          </ng-container>
                        </form>

                          <div class="row">
                            <div class="form-group row mb-2">
                            </div>
                            <div class="col-md-2 text-right">
                              <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" (click)="AddNewRowTipo()">Insertar</button>
                            </div>
                            <mat-paginator [pageSizeOptions]="[3, entidadesTiposData.data.length>8? entidadesTiposData.data.length:0  ]" showFirstLastButtons>
                            </mat-paginator>
                          </div>


                      </div>
                    </div>

                  </mat-tab>

                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                      Contacto
                    </ng-template>

                    <div class="form-group row mb-2">
                    </div>
                    <div class="table-responsive">
                      <div class="mat-elevation-z8">
                        <form [formGroup]="VOForm" autocomplete="off">
                          <ng-container formArrayName="VORows">

                                <table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="TablaDet">

                                <!-- Nombre Column -->
                                  <ng-container matColumnDef="Nombre">
                                    <th mat-header-cell *matHeaderCellDef class="CabeceraDet"> Nombre y Apellido </th>
                                    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                                      <mat-form-field style="width: 240px;">
                                      <input matInput type="text" formControlName="nombreCompleto">
                                      </mat-form-field>
                                    </td>
                                  </ng-container>

                                  <!-- telefono1 Column -->
                                  <ng-container matColumnDef="telefono1">
                                    <th mat-header-cell *matHeaderCellDef class="CabeceraDet"> Telefono </th>
                                    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                                      <mat-form-field style="width: 110px;">
                                        <input matInput type="text" formControlName="telefono1">
                                      </mat-form-field>
                                    </td>
                                  </ng-container>

                                  <!-- email Column -->
                                  <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef class="CabeceraDet"> Email </th>
                                    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                                      <mat-form-field style="width: 270px;">
                                        <input matInput type="text" formControlName="email">
                                      </mat-form-field>
                                    </td>
                                  </ng-container>

                                  <!-- cargo Column -->
                                  <ng-container matColumnDef="cargo">
                                    <th mat-header-cell *matHeaderCellDef class="CabeceraDet"> Cargo </th>
                                    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                                      <mat-form-field style="width: 210px;">
                                        <input matInput type="text" formControlName="cargo">
                                      </mat-form-field>
                                    </td>
                                  </ng-container>

                                  <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="CabeceraDet"> Action </th>
                                    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                                      <button mat-icon-button class="material-icons app-toolbar-menu delete-button"
                                                          matTooltip="Delete" color="warn" (click)="DeleteVO(i)">
                                                          <mat-icon>delete</mat-icon>
                                                      </button>

                                    </td>
                                  </ng-container>

                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

                                </table>

                          </ng-container>
                        </form>

                          <div class="row">
                            <div class="form-group row mb-2">
                            </div>
                            <div class="col-md-2 text-right">
                              <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" (click)="AddNewRow()">Insertar</button>
                            </div>
                            <mat-paginator [pageSizeOptions]="[3, dataSource.data.length>8? dataSource.data.length:0  ]" showFirstLastButtons>
                            </mat-paginator>
                          </div>


                      </div>
                    </div>

                  </mat-tab>
                </mat-tab-group>


              </div>

          </div>

          <div class="modal-footer">
            <!--
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-info" #closeBtn>Guardar</button>
              -->
          </div>

        </div>
    </div>
</div>
